@use 'variables' as *;

.gf-tag {
   border-radius: 30px;
 
   color: #ffffff;
   font-size: 14px;
   padding: 10px 15px;
   position: relative;
   box-shadow: 0 0 5px 5px rgba(255,255,255,0.2);
 }
 
.gf-tag::after {
   content: "";
   position: absolute;
   left: 50%;
   top: 100%;
   transform: translate(-50%, 0);
   width: 0;
   height: 0;
   border-left: 8px solid transparent;
   border-right: 8px solid transparent;
}

.gf-tag.hasMention {
   background-color: $green;
}

.gf-tag.hasMention::after {
   border-top: 8px solid $dark-green;
}

.gf-tag.hasMenu {
   background-color: $yellow;
}

.gf-tag.hasMenu::after {
   border-top: 8px solid $dark-orange;
}

.gf-tag.hasComments {
   background-color: $brown;
}

.gf-tag.hasComments::after {
   border-top: 8px solid $dark-brown;
}