// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap');
$font: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;

// Tag Colors
$yellow: #F6B409;
$dark-orange: #903B0B;
$green: #25A305;
$dark-green: #123811;

// Document Styling
$dark-dark: #050020;
$dark: #130C3E;
$link: #8761F2;
$white: #FFFFFF;

// Scroll Styling
$scroll-handle: #61579A;
$scroll-handle-dark: #40367a;
$scroll-bg-light: #A7ACD7;
$scroll-bg-dark: #1E1955;

// Text Styling
$gray: #757575;