@use 'variables' as *;
@use 'sass:color';

#search-container {
   display: flex;
   gap: 5px;
   width: 300px;
   background-color: $white;
   padding: 15px;
   margin: 30px;
   border-radius: 5px;
   font-weight: 700;
   z-index: 99;
   box-shadow: 0 0 5px $scroll-bg-light;
    
   span {
      color: $dark-dark;
      font-family: $font;
      font-size: 0.9rem;
   }

   input {
      border: none;
      outline: none;
      font-family: $font;
      font-size: 0.9rem;
   }
}

#search-button {
   display: flex;
   flex-direction: row;
   justify-content: center;
   gap: 7px;

   width: 220px;
   border-radius: 30px;

   margin: 30px;
   padding: 14px 14px;

   font-family: $font;
   font-weight: 600;
   font-size: 1rem;

   color: $white;
   background-color: $button-body;
   
   cursor: pointer;
   border: none;
   outline: none;

   transition: all 250ms;
}

#search-button:hover {
   letter-spacing: 1px;
   background-color: color.scale($button-body, $lightness: 25%)
}

@keyframes pending {
   0%   {background-color: $button-body}
   50%  {background-color: color.scale($button-body, $lightness: 25%)}
   100% {background-color: $button-body}
}

.pending {
   background-color: $button-body;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   animation-name: pending;
}