@use 'variables' as *;

h1 {
   margin: 0;
   padding:0;
   font-size: 2rem;
   font-weight: 800;
   color: $white;
}

h2 {
   margin: 0;
   padding:0;
   font-weight: 300;
   font-size: 1.1rem;
   color: $white;
   opacity: 0.75;
}

#mobile-header {
   display: none;
}

#sidebar {
   grid-area: sidebar;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 20px;
   // width: 550px;
   height: 100vh;
   padding: 45px 15px 30px 30px;
   background-color: $dark;

   header {
      margin-bottom: 10px;
   }
}

@media screen and (width <= $width-cutoff), (orientation: portrait) {
   #sidebar {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 3vh 3vw;


      header { display: none; }

      nav { display: none; }
   }

   #mobile-header {
      grid-area: mobile-header;

      display: flex;
      width: 100vw;
      padding: 20px;

      background-color: $dark;
      
      align-items: center;
      z-index: 99;
   }
}

nav {
   display: flex;
   gap: 15px;
   margin-top: auto;

   a {
      color: $white;
      text-decoration: none;
      font-weight: 300;
      font-size: .9rem;
   }
      
   .active {
      font-weight: 600;
   }
}