@use 'variables' as *;
@use 'search';
@use 'map';
@use 'restaurant';
@use 'sidebar';

* {
  box-sizing: border-box;
}

html,body, .App{
  font-family: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-areas: "sidebar map";
  grid-template-columns: 550px 1fr;
}
 
h1 {
  font-weight: 900;
  font-size: 32;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  height: 2em;
}